<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
  <th:block layout:fragment="content">

    <h1>로그인</h1>
    <div th:if="${param.error}" style="color: red; margin-bottom: 10px;">
        아이디 또는 비밀번호가 일치하지 않습니다. [[${param.error}]][[${param.page}]]
    </div>

    <form action="/user/login" method="post">
        아이디 : <input name="email"> <br>
        비밀번호 : <input name="password"> <br>
        <button>로그인</button>
        <button>회원가입</button>
    </form>

    <script>
        window.onload = function () {
            //url 파라미터 분석 객체 생성
            const  urlParams = new URLSearchParams(window.location.search)

            //error 파라미터가 있는지 확인
            if(urlParams.has('error')){
                alert("아이디비번 둘중 하나 틀림")
            }
        }
    </script>
  </th:block>
</body>
</html>